body {
    font-size: 15pt;
    scroll-behavior:smooth;
}
img{
  width: 13%;
  position: relative;
  top:5px;
  left: 3px;
  border:2px rgba(85, 75, 255, 1 ) solid;
  border-radius: 100px;
  height: 9%;
  background-color: black;
  
}
p{
  font-size: 50px;
  gap: 30px;
  font-style: bold;
}
nav{
  list-style: none;
  display: flex;
 border: 2px black solid;
  background-color: rgba(85, 75, 255, 1 );
}
li{
  font-size: 40px;
  padding-top: 60px;
  color: black;
  margin-left: 80px;
  
}
